/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Open+Sans:wght@300;700&display=swap');


/* Header Styles */
header {
    background-color: #457B9D;
    color: white;
    text-align: center; /* Center text within the header */
    padding: 40px 0;
    
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}
header h1 {
    margin: 0;
    font-size: 40px;
    color: white;
    display: block;
    
}

/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333; /* Add background color to the navigation menu */
    max-width: 1100px;
    margin: 0 auto;
}
nav ul li {
    margin-bottom: 10px; /* Add margin between each list item to stack them vertically */
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white; /* Set text color for the navigation links */
    font-weight: bold;
    padding: 10px 15px; /* Add padding to create clickable area */
    display: block; /* Display list items as block elements to stack them */
    font-size: 35px; /* Increase the font size for the menu links */
    
}
/* Main Content Styles */
main {
    padding: 20px; /* Add some padding to the sides of the content */
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: 1fr; /* Arrange cards in a single column */
    gap: 20px; /* Add spacing between cards */
    max-width: 1100px;
    margin: 0 auto;
    
}
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}



main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section h2 {
	color: #536878;
}



main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* This is unncessary !!! The flow is set and the template is set already */
	main section:nth-child(1) {
	  grid-column: 1/2;
  }
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
  }
	/*************************************/

	main section:nth-child(3) {
		grid-column: span 1;
	}
}


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    max-width: 1000px;
    margin: 0 auto;
    
}

footer p {
    margin: 0;
}
/*Style the country name and flag */
.country {
    display: inline;
    margin-right: 5px;
}

footer img {
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
    margin: 10px;
    margin-right: 5px;
    margin-bottom: 20;
}