/* Styles for screens with a viewport width of 500px or greater */
@media (min-width: 500px) {
    header {
        background-color: black; /* Change the header background to black */
        color: white; /* Change the text color to white */
    }

    main {
        display: grid; /* Enable grid layout */
        grid-template-columns: 1fr 1fr; /* Create two equal columns */
    }
    
    
}
