body {
    font-family: Roboto, Arial, Helvetica, sans-serif; /* Specifies the font family */
    background-color: #f4f4f4;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    color: #333;
}

p {
    font-size: 1em;
    color: #666;
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

header,
main,
footer {
  margin: 1rem; /* Adds margin around these elements */
  position: relative; /* Allows for absolute positioning of child elements */
}

#cards, h1, footer {
    color: #000; /* Sets text color to black */
    border-bottom: 1px solid #eee; /* Adds a light gray bottom border */
    text-shadow: 0 0 15px #777; /* Adds a soft shadow around the text */
    background-color: #aaa;
    
  }

  section {
    background-color: #bed; /* Sets a light blue-green background */
  }

  img {
    box-shadow: 0 0 30px #777; /* Adds a soft shadow effect */
  }