/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		
		grid-template-columns: 1fr 1fr; /* Two columns*/
		
		
	}
	
	main .directory {
		grid-column: span 2;
	}

	#member {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main#member > section.member-info {
		grid-column: span 2;
	}
	

	.container {
        grid-template-columns: 1fr 3fr; /* Sidebar takes 1/4, main takes 3/4 */
    }

    .sidebar {
        grid-row: 1;
    }

	.gallery img:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }
	
	
	
    
}

/* Tablet view ************************************/
@media (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	
	main .directory {
		grid-column: span 2;
	}


	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.joinbutton {
       
		position: absolute;
		top: 20px;
		left: 20px;
	}

	
	



	
	
	

}


