
#burger {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.members {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.events , .weather{
    width: 92%;
}