/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {

	main { 
		grid-template-columns: 1fr 1fr;
	}

	main div:nth-child(3) {
		grid-column: span 2;
	}




	
	

	.stuff iframe {
        height: 500px; /* Increase the height for larger screens */
		width: 100%;
		
		
    }
	
	
    
}

/* Tablet view ************************************/
@media (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main div:nth-child(3) {
		grid-column: span 2;
	}
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.temple-name {
    
   
		position: absolute;
		top: 20px;
		left: 20px;
	}

	

	.temple-name p {
		margin: 0;
		padding: .25rem;
		font-weight: 700;
		font-size: 3rem;
		font-family:"Great Vibes", serif;
	}



	
	
	

}


